.buttons{
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    background-color: #61dafb;
    border-radius: 20px;
    width: 120px;
    height: 60px;
    border: 2px solid white;
}
.buttons:active{
    font-weight: bolder;
}